#**Python Data Structures – Intermediate Exercises Notebook**

**Section 1: Nested Lists & Access**

Tasks:
1. Print Ravi’s second mark.

In [1]:
students = [
    ["Ravi", [85, 72, 90]],
    ["Sneha", [95, 88, 92]],
    ["Kabir", [65, 70, 60]],
    ["Anita", [75, 80, 78]]
]

print("Ravi's second mark:", students[0][1][1])

Ravi's second mark: 72

2. Calculate average mark for each student.

In [2]:
for name, marks in students:
    avg = sum(marks) / len(marks)
    print(f"{name}'s average: {avg:.2f}")

Ravi's average: 82.33
Sneha's average: 91.67
Kabir's average: 65.00
Anita's average: 77.67

3. Print the name of students who scored above 80 in all subjects.

In [3]:
for name, marks in students:
    if all(m > 80 for m in marks):
        print(name)

Sneha

4. Create a new list of [name, average] .

In [4]:
avg_list = [[name, sum(marks)/len(marks)] for name, marks in students]
print("List of [name, average]:", avg_list)

List of [name, average]: [['Ravi', 82.33333333333333], ['Sneha', 91.66666666666667], ['Kabir', 65.0], ['Anita', 77.66666666666667]]

**Section 2: Dictionary of Lists**

Tasks:
1. Create a list of dictionaries for each product:

In [5]:
data = {
"products": ["Mobile", "Laptop", "Tablet", "Camera"],
"prices": [12000, 55000, 18000, 25000],
"ratings": [4.5, 4.7, 4.0, 4.2]
}

product_list = [
    {'name': n, 'price': p, 'rating': r}
    for n, p, r in zip(data['products'], data['prices'], data['ratings'])
]
print("Product list:", product_list)

Product list: [{'name': 'Mobile', 'price': 12000, 'rating': 4.5}, {'name': 'Laptop', 'price': 55000, 'rating': 4.7}, {'name': 'Tablet', 'price': 18000, 'rating': 4.0}, {'name': 'Camera', 'price': 25000, 'rating': 4.2}]

2. Filter and print products with price > 20,000 and rating >= 4.5

In [6]:
filtered = [p for p in product_list if p['price'] > 20000 and p['rating'] >= 4.5]
print("Filtered products:", filtered)

Filtered products: [{'name': 'Laptop', 'price': 55000, 'rating': 4.7}]

3. Sort the product list by rating (descending)

In [7]:
sorted_products = sorted(product_list, key=lambda x: x['rating'], reverse=True)
print("Products sorted by rating:", sorted_products)

Products sorted by rating: [{'name': 'Laptop', 'price': 55000, 'rating': 4.7}, {'name': 'Mobile', 'price': 12000, 'rating': 4.5}, {'name': 'Camera', 'price': 25000, 'rating': 4.2}, {'name': 'Tablet', 'price': 18000, 'rating': 4.0}]

**Section 3: Frequency Dictionary + Set Operations**

Tasks:
1. Count frequency of each word using a dictionary

In [8]:
text = "ai is the future and ai will change everything in the ai world"
words = text.split()

freq = {}
for word in words:
    freq[word] = freq.get(word, 0) + 1
print("Word frequency:", freq)

Word frequency: {'ai': 3, 'is': 1, 'the': 2, 'future': 1, 'and': 1, 'will': 1, 'change': 1, 'everything': 1, 'in': 1, 'world': 1}

2. Print only the words that appear more than once

In [9]:
print("Repeated words:", [word for word, count in freq.items() if count > 1])

Repeated words: ['ai', 'the']

3. Convert words into a set and print sorted unique words

In [10]:
unique_sorted = sorted(set(words))
print("Sorted unique words:", unique_sorted)

Sorted unique words: ['ai', 'and', 'change', 'everything', 'future', 'in', 'is', 'the', 'will', 'world']

4. Find common words between:

In [11]:
set1 = set(words)
set2 = {"ai", "ml", "data", "future"}
print("Common words:", set1 & set2)

Common words: {'future', 'ai'}

Section 4: Dictionary Comprehension + Conditional Logic

In [12]:
sales = {
    'Amit': 70000,
    'Sneha': 45000,
    'Ravi': 30000,
    'Anita': 90000,
    'Kabir': 20000
}

bonus_sales = {k: v * 1.10 for k, v in sales.items()}
print("Sales with bonus:", bonus_sales)

Sales with bonus: {'Amit': 77000.0, 'Sneha': 49500.00000000001, 'Ravi': 33000.0, 'Anita': 99000.00000000001, 'Kabir': 22000.0}

2. Filter and return only those with sales > 50,000

In [13]:
high_sales = {k: v for k, v in sales.items() if v > 50000}
print("Sales > 50,000:", high_sales)

Sales > 50,000: {'Amit': 70000, 'Anita': 90000}

3. Label each person as 'High' , 'Medium' , or 'Low' based on:
75,000: High
40,000: Medium
Else: Low

In [14]:
labels = {
    k: 'High' if v >= 75000 else 'Medium' if v >= 40000 else 'Low'
    for k, v in sales.items()
}
print("Labels:", labels)

Labels: {'Amit': 'Medium', 'Sneha': 'Medium', 'Ravi': 'Low', 'Anita': 'High', 'Kabir': 'Low'}

**Section 5: Tuples, Sets, and Zipping**

Tasks:
1. Convert both tuples to a dictionary using zip()

In [15]:
names = ("Ravi", "Sneha", "Kabir")
marks = (88, 92, 76)

marks_dict = dict(zip(names, marks))
print("Dictionary:", marks_dict)

Dictionary: {'Ravi': 88, 'Sneha': 92, 'Kabir': 76}

2. Find min and max marks

In [16]:
print("Min mark:", min(marks))
print("Max mark:", max(marks))

Min mark: 76
Max mark: 92

3. Create a set from marks and add a new value

In [17]:
mark_set = set(marks)
mark_set.add(85)
print("Set with new value:", mark_set)

Set with new value: {88, 92, 85, 76}

4. Merge two sets and show only unique elements

In [18]:
set_a = {88, 76}
set_b = {92, 85}
merged = set_a | set_b
print("Merged unique set:", merged)

Merged unique set: {88, 76, 85, 92}

**Bonus Challenge**

You’re given the following nested dictionary of employee data:

1. Add a new employee "E104"

In [19]:
employees = {
    "E101": {"name": "Ravi", "dept": "Sales", "salary": 50000},
    "E102": {"name": "Sneha", "dept": "Engineering", "salary": 80000},
    "E103": {"name": "Kabir", "dept": "HR", "salary": 45000}
}

employees["E104"] = {"name": "Anita", "dept": "Engineering", "salary": 85000}
print("After adding E104:", employees)

After adding E104: {'E101': {'name': 'Ravi', 'dept': 'Sales', 'salary': 50000}, 'E102': {'name': 'Sneha', 'dept': 'Engineering', 'salary': 80000}, 'E103': {'name': 'Kabir', 'dept': 'HR', 'salary': 45000}, 'E104': {'name': 'Anita', 'dept': 'Engineering', 'salary': 85000}}

2. Increase salary by 10% for Engineering department only

In [20]:
for emp in employees.values():
    if emp['dept'] == "Engineering":
        emp['salary'] *= 1.10
print("Updated salaries for Engineering:", employees)

Updated salaries for Engineering: {'E101': {'name': 'Ravi', 'dept': 'Sales', 'salary': 50000}, 'E102': {'name': 'Sneha', 'dept': 'Engineering', 'salary': 88000.0}, 'E103': {'name': 'Kabir', 'dept': 'HR', 'salary': 45000}, 'E104': {'name': 'Anita', 'dept': 'Engineering', 'salary': 93500.00000000001}}

3. Find the department with the highest average salary

In [21]:
from collections import defaultdict

dept_salaries = defaultdict(list)
for emp in employees.values():
    dept_salaries[emp['dept']].append(emp['salary'])

avg_salaries = {dept: sum(salaries)/len(salaries) for dept, salaries in dept_salaries.items()}
highest_dept = max(avg_salaries, key=avg_salaries.get)
print("Department with highest avg salary:", highest_dept)

Department with highest avg salary: Engineering