In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder\
.appName("PySparkBasics")\
.getOrCreate()

spark

In [ ]:
data = [('Amit', 25), ('Sneha', 30), ('Kabir', 28)]
columns = ['Name', 'Age']

df = spark.createDataFrame(data, columns)
df.show()

+-----+---+
| Name|Age|
+-----+---+
| Amit| 25|
|Sneha| 30|
|Kabir| 28|
+-----+---+

In [5]:
data = """Name,Department,Salary
Amit,Sales,50000
Sneha,Engineering,80000
Kabir,HR,45000
Anaya,Marketing,60000
Ravi,Engineering,85000
"""

with open('employees.csv', 'w') as f:
  f.write(data)

In [7]:
df = spark.read.csv('employees.csv', header = True, inferSchema = True)
df.show()
df.printSchema()

+-----+-----------+------+
| Name| Department|Salary|
+-----+-----------+------+
| Amit|      Sales| 50000|
|Sneha|Engineering| 80000|
|Kabir|         HR| 45000|
|Anaya|  Marketing| 60000|
| Ravi|Engineering| 85000|
+-----+-----------+------+

root
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: integer (nullable = true)