In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('rdd').master("local[*]").getOrCreate()

sc = spark.sparkContext

In [4]:
name = sc.parallelize(["A","B","C","D"])

In [5]:
name.collect()

['A', 'B', 'C', 'D']

In [6]:
name.count()

4

In [7]:
name.take(2)

['A', 'B']